<div class="container" id="welcome">
	<div class="intro-text">
		<div class="intro-lead-in">{{homebanner.post_title}}</div>
		<div class="intro-heading">{{homebanner.get_content}}</div>
		<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#register">Sign Up</a>
	</div>
</div>