<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ theme.link }}/img/logos/envato.jpg" alt="Envato">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ theme.path }}/img/logos/designmodo.jpg" alt="Desigmondo">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ theme.link }}/img/logos/themeforest.jpg" alt="Themeforest">
            </a>
        </div>
        <div class="col-md-3 col-sm-6">
            <a href="#">
                <img class="img-fluid d-block mx-auto" src="{{ theme.path }}/img/logos/creative-market.jpg" alt="Creative Market">
            </a>
        </div>
    </div>
</div>